<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894856013721-g1nodfk8g1qacjr2f56hn4ipotmshvoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894856013721-g1nodfk8g1qacjr2f56hn4ipotmshvoe</string>
	<key>API_KEY</key>
	<string>AIzaSyBVjyIsbHokAQ1MtaJ2F-i7NjZdJQYKRzM</string>
	<key>GCM_SENDER_ID</key>
	<string>894856013721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vitali.UbergabefFirstPart</string>
	<key>PROJECT_ID</key>
	<string>ubergabe-5e1d9</string>
	<key>STORAGE_BUCKET</key>
	<string>ubergabe-5e1d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894856013721:ios:94fa8c8b69671c3b795508</string>
</dict>
</plist>